#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline;
}

.like{
    width: 5%;
    height: 10%;
    z-index: 1;
    margin: 12rem;
    opacity: 0;
    user-select: none;
}

.post{
    /* margin: 200px 10px; */
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: -1;
    width: 25%;
    height: 100%;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
    
